.rectangle{
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255);
}

body{
    background-color: black;
}

.toggle{
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: max-content;
    top: 20px;
    right: 20px;
    position: absolute;
}

li,ul,h1{
    color: white;
    list-style: none;
    text-align: center;
}
.navbar{
   display: flex;
   flex-direction: column;
   height: 100vh;
       height: 100vh;
    gap: 68px;
    display: none;
}

.othman{
    display: flex;
}

.element{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}